header,
body,
h3,
h4,
h6.p,
button,
input,
form {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: "Smythe", cursive;
}

.header-wrapper {
  background-image: url(./Images/header.png);
  max-width: 600px;
  width: 100%;
  background-size: cover;
  color: white;
  margin: 0 auto;
  padding: 30px 0;
}

.header-wrapper h3 {
  margin-bottom: 5px;
  padding-left: 30px;
}

.header-wrapper h6 {
  padding-left: 30px;
}

.items-wrapper {
  margin: 30px auto;
  max-width: 600px;
  width: 90%;
}

.item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
  border-bottom: 1px solid #9ca3af;
  padding-bottom: 20px;
}

.decription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 2;
  font-size: 2rem;
}

.emoji {
  font-size: 3rem;
}

.plus-icon img {
  width: 50px;
}

.item-ingredient {
  font-size: 1rem;
}
.item-price {
  font-size: 1.2rem;
}
.selected-items {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

footer {
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
  margin-bottom: 30px;
  font-size: 2rem;
}

footer h4 {
  text-align: center;
  padding-bottom: 20px;
}
.flex-space {
  flex: 2;
}

.hidden {
  display: none;
}

.total-price {
  margin-top: 20px;
  border-top: solid 2px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: #16db99;
  border: none;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
  width: 100%;
  font-size: 1.5rem;
}
.module {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e1dede;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 70%;
  padding: 2%;
  font-size: 1.5rem;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
  background-color: #f9fbfd;
}

.overlay {
  background-color: #d1d5db; /* Black background with opacity */
  z-index: 2;
}

form {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

form input {
  width: 80%;
  margin: 12px;
  padding: 10px;
  font-size: 1rem;
}
.pay {
  background-color: #16db99;
  border: none;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
  width: 80%;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.close {
  margin-left: 90%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  border: none;
  background-color: #e1dede;
  font-size: 1.5rem;
}
